<!DOCTYPE html>
{% if user.is_authenticated %}
<head>
  <link rel="stylesheet" href="/static/stylesheets/style_show_c.css">
  <title>Course History for {{learner.first_name}}</title>
</head>
<body>
  <ul>
  {% for enroll in enrolls %}
    <li>
      <b>Course - </b> {{enroll.course}}<br>
      <b>Date of completion - </b>{{enroll.finish_time}}<br>
      <b>CECU - </b>{{enroll.course.CECU_value}}
    </li>
  {% endfor %}
  <div>
    <b>Cummulative CECU:</b> {{cummulative_CECU}}
  </div>
  <a href="/system/view/">Back to Courses</a>
  </ul>
</body>
{% endif %}
