<!DOCTYPE html>
<head>
  <title>available courses</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/show_available_courses.js"></script>
</head>

<body>
  <div>
    filter by:
    <select id="filterBy">
      <option>name</option>
      <optgroup id="select_category" label="categories:">
      </optgroup>
    </select>
  </div>
  <div>
    <ul id="course_list" data-learnerID="{{learner.id}}">
      {% for course in course_list %}
        <li class="course" data-category="{{course.category.name}}" data-v="{{course}}"><a href="/system/view/browseCourse/detail/{{course.id}}/">{{course}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <a href="/system/view/">Back</a>
</body>
