{% block content %}
<link rel="stylesheet" href="/static/stylesheets/style_show_c.css">
  Please register your account in ICE as an Learner.
	<form action="/system/auth/createLearnerAccount/" method="post">
	    {% csrf_token %}
	    {{ form }}
	    <input type="hidden" name="token" value="{{token}}">
	    <input type="hidden" name='tempName' value="{{tempName}}">
	    <input type="hidden" name='email' value="{{email}}">
	    <input type="hidden" name='first_name' value="{{first_name}}">
	    <input type="hidden" name='last_name' value="{{last_name}}">
	    <input type="submit" value="Create account">
	</form>
{% endblock %}