{% if user.is_authenticated %}
<head>
	<title>{{module.title}}</title>
	<link rel="stylesheet" href="/static/stylesheets/style_show_c.css">
</head>

<body>
	<h1>{{ module.title }}</h1>
	<ul style="list-style: none;">
		{% for component in components %}
		<li>
		<span>{{component.content}}</span>
		<span><img draggable="false" src={{component.path}}></span>
		</li>
			{% endfor %}
	</ul><br>
	{% if progress == module.order %}
		<a href = "./quiz/"> take quiz </a><br>
	{% endif %}
	<a href = "../" > back </a>
</body>
{% else %}
<div>
		You are not logged in!
		<a href="/accounts/login/">Login</a>
</div>
{% endif %}
