<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/Drag_Drop_Ordering.js"></script>
	<script src="/static/add_component.js"></script>
	<link rel="stylesheet" href="/static/stylesheets/style_show_c.css">

</head>
{% extends 'title.html' %}
{% block content %}
	{% if user.is_authenticated %}
	{% if len_component > 0 %}
	<ul id="container">
		{% for component in components %}
			<li draggable="true" class="drag" id="{{component.pk}}">
				<span>{{component.title}}:</span>
				<span draggable="false">{{component.content}}</span>
				<span draggable="false"><img style="height:30px;width:30px" draggable="false" src={{component.path}}></span>
				<a draggable="false" href="/system/manage/{{course.id}}/{{module.id}}/{{component.id}}/removeComponent/">remove</a>
			</li>
			<!--<li draggable="true" class="drag">
				<img style="height:30px;width:30px" draggable="false" src="https://yt3.ggpht.com/a-/AAuE7mDaIPSwLi2eUtSdUZ0Knhmpfg6vTCe09VKiLw=s900-mo-c-c0xffffffff-rj-k-no">
			</li> -->
		{% endfor %}
	</ul>
	{% else %}
		<p>No component has been added to this module yet!</p>
	{% endif %}
	{% if len_quiz > 0 %}
		<li>{{quiz}}
			{% if course.status != 0 %}
			<a href="/system/manage/{{course.id}}/{{module.id}}/{{quiz.id}}/removeQuiz/">Remove Quiz</a><br>
			{% endif %}
		</li>
	{% else %}
		<p>No quiz has been added to this module yet!</p>
		<a href="/system/manage/{{course.id}}/{{module.id}}/selectQuiz/">Add a Quiz</a><br>
	{% endif %}

<a href="{% url 'saveOrder' course.pk module.pk 'neworder' %}" hidden id="save"></a>

<!-- <a href="/system/manage/{{course.id}}/{{module.id}}/addComponent/">Add a component</a><br> -->
<div id="componentContainer"></div>

<button id="requestAddComponent" data-uid={{user.id}} data-cid={{course.id}} data-mid={{module.id}}>Add a Component</button>

<div id="available_components"></div>
<button id="btn" onclick="neworder()">save order</button><br>
<a href="/system/view/{{course.id}}/">Back</a>
{% endif %}
{% endblock%}
