<!DOCTYPE html>
<html>
<head>
	<h1>Your Course List</h1>
	<link rel="stylesheet" href="static/stylesheets/style_show_c.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/create_course.js"></script>
	<script src="/static/drop_course.js"></script>

</head>

<body>
	{% if user.is_authenticated %}
		{% if type == "instructor" %}
			<ul>
			{% for course in course_list %}
				<li>
					<a href="/system/view/{{course.id}}/">{{course}}</a>
					<button class="editCourse" data-courseID="{{course.id}}" data-instructorID="{{user.id}}">Edit</button>
				</li>
			{% endfor %}
			</ul>
			<button id="create_course" data-instructorID="{{user.id}}">Create Course</button>
		{% else %}
			<div id="l_courseList">
				<ul>
					{% for course in course_list %}
						<li><a href="/system/view/{{course.id}}/">{{course}}</a>
							{% if course.status == False %}
							<button id="drop" data-cid="{{course.id}}">Drop</button>
							{% endif %}
						</li>
					{% endfor %}
				</ul><br><br>
				<a href="/system/view/browseCourse/">Browse Course</a><br>
				<a href="/system/view/viewCourseHistory/">View Course History</a>
			</div>
		{% endif %}
	{% else %}
		<div>
			You are not logged in!<br>
			<a href="/accounts/login/">login</a>
		</div>
	{% endif %}
</body>
</html>
