{% extends 'title.html' %}
<link rel="stylesheet" href="/static/stylesheets/style_show_c.css">
{% block content %}
{% if user.is_authenticated %}
	<p>Choose a component to add to module: {{module.title}}</p>
	{{no_component}}
	{% if len_component == 0 %}
		<p>No component is available currently!</p>
	{% else %}
		{% for component in components %}
			<a href="{% url 'append_component' course.pk module.pk component.pk %}">{{component.title}}</a>
		{% endfor %}
	{% endif %}

	<a href="{% url 'displayModuleContent' course.pk module.pk %}">Back</a>
{% endif %}
{% endblock %}
