<!DOCTYPE html>
<html>
<head>
		<title>Course Content</title>
		<link rel="stylesheet" href="/static/stylesheets/style_show_c.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/static/Drag_Drop_Ordering.js"></script>
		<script src="/static/create_module.js"></script>
</head>

<body>
	{% extends 'title.html' %}
	{% block content %}
	{% if user.is_authenticated %}
	<div id="module_list">
		{% if type == "instructor" and course.status != 0 %}
		<ul id="container">
    	{% for module in modules %}
        <li draggable="true" class="drag" id="{{module.pk}}">
			<a draggable="false" href="/system/manage/{{course.id}}/{{module.id}}/displayModuleContent/">{{ module.title }}</a>
			<a draggable="false" href="/system/manage/{{course.id}}/{{module.id}}/deleteModule/"> remove </a>
		</li>
    	{% endfor %}
		</ul>
		<a href="{% url 'saveModuleOrder' course.pk 'neworder' %}" hidden id="save"></a>
		<button id="btn" onclick="neworder()">save order</button><br>
			<button id="create_module" data-uid="{{user.id}}" data-courseID="{{course.id}}">Add Module</button>
			<div id="form_container">
				<form id="module_info"></form>
			</div>
			<a href="/system/view/">Back to Courses</a>

		{% else %}	<!-- user type is learner -->
			{% if status == True %}
			<p>
				You have already finished this course!<br>
				<b>Completion Time: </b> {{enroll.finish_time}}<br>
				<b>CECU earned: </b>{{course.CECU_value}}<br>
			</p>
			{% endif %}
			<ul>
				{% for module in modules %}
					{% if module.order <= progress %}
						<li data-accessible="open"><a href="/system/view/{{course.id}}/{{module.id}}/">{{module}}</a></li>
					{% else %}
						<li data-accessible="close">{{module}}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<a href="/system/view/">back</a>
		{% endif %}
	</div>
	{% else %}
		<div>
			You are not logged in!<br>
			<a href="/accounts/login/">login</a>
		</div>
	{% endif %}
	{% endblock %}
</body>
</html>
