<!DOCTYPE html>
<html>
<head>
	<h1>Your Course List</h1>
	<link rel="stylesheet" type="text/css" href="style_show_c.html">
</head>

<body>
	{% if type == "instructor" %}
		<ul>
		{% for course in course_list %}
			<li><a href="/system/view/{{user.id}}/{{course.id}}/">{{course}}</a></li>
		{% endfor %}
		</ul>
		<button>Create Course</button>
	{% else %}
		<div id="l_courseList">
			<ul>
				{% for course in course_list %}
					<li><a href="/system/view/{{user.id}}/{{course.id}}/">{{course}}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</body>
</html>
