<!DOCTYPE html>
<html>
<head>
		<title>Course Content</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/static/create_module.js"></script>
</head>

<body>
	{% extends 'title.html' %}
	{% block content %}
	<div id="module_list">
		{% if type == "instructor" %}
		<ul>
    	{% for module in modules %}
        <li><a href="/system/manage/{{u_id}}/{{course.id}}/{{module.id}}/displayModuleContent/">{{ module.title }}</a></li>

					<a href="/system/manage/{{u_id}}/{{course.id}}/{{module.id}}/deleteModule/"> remove </a>

    	{% endfor %}
		</ul>
			<button id="create_module" data-uid="{{u_id}}" data-courseID="{{course.id}}">Add Module</button>
			<div id="form_container">
				<form id="module_info"></form>
			</div>
			<a href="/system/view/{{u_id}}/">Back to Courses</a>

		{% else %}	<!-- user type is learner -->
			{% if status == True %}
			<p>
				You have already finished this course!<br>
				<b>Completion Time: </b> {{enroll.finish_time}}<br>
				<b>CECU earned: </b>{{course.CECU_value}}<br>
			</p>
			{% endif %}
			<ul>
				{% for module in modules %}
					{% if module.order <= progress %}
						<li data-accessible="open"><a href="/system/view/{{u_id}}/{{course.id}}/{{module.id}}/">{{module}}</a></li>
					{% else %}
						<li data-accessible="close">{{module}}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<a href="/system/view/{{u_id}}/">back</a>
		{% endif %}
	</div>
	{% endblock %}
</body>
</html>
