{% block title %}This is the page: courseContent.html{% endblock %}

{% block content %}
	<ul>
    <h5> 
        course: {{ course }}<br >
        module: {{ modules }}<br >
        type: {{ type }}<br >
        progress: {{ progress }}<br >
    </h5>
    <h1>{{ course.title }}</h1>
    {% if type == 'learner' %}
        {% for module in modules %}
            <p>{{ module.title }}   
                {%  if module.order <= progress %}
                <a href = "./{{ module.pk }}/" > open </a>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        {% for module in modules %}
            <p>{{ module.title }}    
                <a href = "./{{ module.pk }}/" > open </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href = "./{{ module.pk }}/modiModuleOrd/">set order</a>
            </p>
        {% endfor %}
        <!-- create button not implemented -->
    {% endif %}
    <a href = "../" > back </a>
	</ul>
{% endblock %}