{% extends 'title.html' %}

{% block content %}
	{% if len_component > 0 %}
	<ul id="contianer"></ul>
		{% for component in components %}
			<li draggable="true">
				<p>{{component.title}}</p>
				{% if component.istext %}
					<p>{{component.content}}</p>
				{% elif component.isimage %}
					<p>{{component.path}}</p>
				{% endif %}
			</li>
		{% endfor %}
	{% else %}
		<p>No component has been added to this module yet!</p>
	{% endif %}
	{% if len_quiz > 0 %}
		<li>{{quiz}}</li>
	{% else %}
		<p>No quiz has been added to this module yet!</p>
	{% endif %}
{% endblock%}

<a href="{% url 'display_available_components' instructor_id course.pk module.pk %}">add more</a>